* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden; 
  width: 100%;
  height: 100%;
}

#defaultCanvas0 {
  margin: 0;
  padding: 0;
  border: none;
  display: block;
  position: absolute; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

video {
  margin: 0;
  padding: 0;
  border: none;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  object-fit: cover; 
}
